{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <section>Секция1</section>
    <section>Секция2</section>
    <section>Секция3</section>
    <section>Секция4</section>
    <section>Секция5</section>
    <section>Секция6</section>
    <button id="scrollButton">
        <img src="/svg/nav__scroll.svg">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}